<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "de.hoga-schulen.hoga-app"
	version 	= "1.0.0">

	<name>HOGA App</name>

	<description>
		Bietet dir die aktuellen Stundenplaninfos der HOGA
	</description>

	<author href="http://hoga.github.com"
		email="hoga@hoga-schloss-albrechtsberg.de">
		HOGA Schloss Albrechtsberg gSchulGmbH
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
